<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/site/LayoutPadrao" xlmns:thecode="http://thecode.com.br">
<head>
<title>Cadastro de cliente</title>
</head>
<body>
	<div class="carousel carousel-slider" data-indicators="true" layout:fragment="banner">
		<a class="carousel-item" href="#one!">
			<img th:src="@{/images/site/banner/banner1.jpg}" alt="PES 2018">
		</a>
		<a class="carousel-item" href="#two!">
			<img th:src="@{/images/site/banner/banner2.jpg}" alt="Destiny 2">
		</a>
		<a class="carousel-item" href="#three!">
			<img th:src="@{/images/site/banner/banner3.jpg}" alt="NBA2k 18">
		</a>
		<a class="carousel-item" href="#four!">
			<img th:src="@{/images/site/banner/banner4.jpg}" alt="Knack II">
		</a>
		<a class="carousel-item" href="#five!">
			<img th:src="@{/images/site/banner/banner5.jpg}" alt="Uncharted - The Lost Legacy">
		</a>
	</div>
	<main class="container" layout:fragment="conteudo">
	<div class="row">
		<th:block th:each="produto : ${produtos}">
			<div class="col s6 m3 produto">
				<article class="col col-content z-depth-2">
					<div class="col s12 m12">
						<a th:href="@{/detalhes-do-produto/} + ${produto.idProduto}">
							<img th:each="imagem : ${produto.imagens}" class="responsive-img" th:src="@{/images/site/produtos/} + ${imagem.endereco}" th:alt="${imagem.descricao}">
						</a>
					</div>
					<div class="col s12 m12">
						<h6 class="center-align" th:text="${produto.nome}"></h6>
					</div>
					<div class="col s12 m12">
						<div class="col s8 m8">
							<p class="preco a-vista">
								<span th:text="${#numbers.formatCurrency(produto.precoVenda)}"></span>
								<br>
								<span th:text="${#numbers.formatCurrency(produto.precoVenda * 0.9)}"></span>
							</p>
						</div>
						<div class="col s4 m4 add-carrinho">
							<a href="#">
								<i class="material-icons">add_shopping_cart</i>
							</a>
						</div>
					</div>
				</article>
			</div>
		</th:block>
	</div>
	</main>
</body>
</html>