<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/site/LayoutPadrao" xlmns:thecode="http://thecode.com.br">
<head>
<title>Login</title>
</head>
<body>
	<main class="container" layout:fragment="conteudo">
	<div class="row">
		<div class="col s12 m6 offset-m3" th:if="${#bools.isTrue(param.error)}">
			<div>
				<p class="center-align red-text">O e-mail e/ou senha não conferem</p>
			</div>
		</div>
		<form class="col s12 m6 offset-m3" th:action="@{/login/site}" method="post">
			<div class="row">
				<div class="col s12">
					<h5>Já sou cliente</h5>
				</div>
				<div class="input-field col s12">
					<input id="email" type="email" maxlength="150" required name="username">
					<label for="email">E-mail</label>
				</div>
				<div class="input-field col s12">
					<input id="senha" type="password" maxlength="20" required name="password">
					<label for="senha">Senha</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<button class="btn waves-effect waves-light amber darken-2 col s12" type="submit" name="entrar">Entrar</button>
				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="col s9 offset-s3">
				<p>Não tem cadastro?<a th:href="@{/clientes/novo}"> cadastre-se!</a></p>
			</div>
		</div>
	</div>
	</main>
</body>
</html>