<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/site/LayoutPadrao" xlmns:thecode="http://thecode.com.br">
<head>
<title>Histórico do Pedido</title>
</head>
<body>
	<main class="container" layout:fragment="conteudo">
	<div class="row">
		<div class="col s12">
			<div class="row">
				<div class="col s12">
					<a th:href="@{/pedidos/pedidos}">
						<i class="material-icons">arrow_back</i>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col s12  grey lighten-4">
					<div class="col s5 offset-s1">
						<p th:text="|Pedido nº: ${pedido.id}|"></p>
						<p th:text="|Data: ${pedido.dataPedido.dayOfMonth}/${pedido.dataPedido.monthValue}/${pedido.dataPedido.year}|"></p>
						<p th:text="|Total: ${#numbers.formatCurrency(pedido.valorTotal)}|"></p>
					</div>
					<div class="col s5 offeset-s1">
						<p th:text="|Quantidade de produtos: ${pedido.quantidadeItensPedido}|"></p>
						<p th:text="|Pagamento: ${pedido.tipoPagamento.descricao}|"></p>
						<div class="row" th:if="${#strings.equals('BOLETO', pedido.tipoPagamento) && botaoBoleto != null}">
							<div class="col m6 s12">
								<a class="btn waves-effect waves-light amber darken-2 col s12" th:href="@{/boleto/visualizar/{codigo}(codigo=${pedido.id})}" target="_blank">Ver Boleto</a>
							</div>
						</div>
						<p th:if="${#strings.equals('CARTAO_CREDITO', pedido.tipoPagamento)}" th:text="|Pagamento realizado em: ${pedido.parcelas}x de ${#numbers.formatCurrency(pedido.valorTotal / pedido.parcelas)}|"></p>
					</div>
				</div>
				<div class="col s12  grey lighten-4">
					<p th:text="|Prazo de entrega após a confirmação de pagamento: ${pedido.diasEntrega} dia(s)|"></p>
					<p th:text="|Previsão de Entrega: ${previsaoEntrega.dayOfMonth}/${previsaoEntrega.monthValue}/${previsaoEntrega.year}|" th:if="${!#strings.isEmpty(previsaoEntrega)}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="col s12 black white-text">
						<h6>HISTÓRICO DE ENTREGA</h6>
					</div>
					<div class="col s12">
						<table class="striped">
							<thead>
								<tr>
									<th>Fase</th>
									<th>Data</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Pagamento</td>
									<td
										th:text="(${!#strings.isEmpty(pedido.dataPagamento)} ? (|${pedido.dataPagamento.dayOfMonth}/${pedido.dataPagamento.monthValue}/${pedido.dataPagamento.year}|) : '---')"></td>
									<td th:text="(${!#strings.isEmpty(pedido.dataPagamento)} ? 'Concluído' : 'Pendente')"></td>
								</tr>
								<tr>
									<td>Separação</td>
									<td
										th:text="(${!#strings.isEmpty(pedido.dataSeparacao)} ? (|${pedido.dataSeparacao.dayOfMonth}/${pedido.dataSeparacao.monthValue}/${pedido.dataSeparacao.year}|) : '---')"></td>
									<td th:text="(${!#strings.isEmpty(pedido.dataSeparacao)} ? 'Concluído' : 'Pendente')"></td>
								</tr>
								<tr>
									<td>Transporte</td>
									<td
										th:text="(${!#strings.isEmpty(pedido.dataTransporte)} ? (|${pedido.dataTransporte.dayOfMonth}/${pedido.dataTransporte.monthValue}/${pedido.dataTransporte.year}|) : '---')"></td>
									<td th:text="(${!#strings.isEmpty(pedido.dataTransporte)} ? 'Concluído' : 'Pendente')"></td>
								</tr>
								<tr>
									<td>Entrega</td>
									<td
										th:text="(${!#strings.isEmpty(pedido.dataEntrega)} ? (|${pedido.dataEntrega.dayOfMonth}/${pedido.dataEntrega.monthValue}/${pedido.dataEntrega.year}|) : '---')"></td>
									<td th:text="(${!#strings.isEmpty(pedido.dataEntrega)} ? 'Concluído' : 'Pendente')"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="col s12 black white-text">
						<h6>PRODUTO(S)</h6>
					</div>
					<th:block th:each="item : ${pedido.itensPedido}">
						<div class="col s12 m6">
							<div class="col s6">
								<img class="responsive-img"
									th:src="(${#lists.isEmpty(item.produto.imagens)} ? (@{/imagens/thumbnail.produto-mock.png}) : (@{/imagens/thumbnail.{nome}(nome=${item.produto.imagens[0].nome})}))"
									th:alt="(${#lists.isEmpty(item.produto.imagens)} ? 'Imagem padrão do produto' : (${item.produto.imagens[0].descricao}))">
							</div>
							<div class="col s6">
								<p th:text="${item.produto.nome}"></p>
								<p th:text="|Qtde: ${item.quantidade}|"></p>
								<p th:text="${#numbers.formatCurrency(item.valorUnitario)}"></p>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12">
					<div class="col s12 black white-text">
						<h6>ENDEREÇO DE ENTREGA</h6>
					</div>
					<div class="col s12 grey lighten-4">
						<p>
							<strong th:text="${pedido.cliente.nome}"></strong>
						</p>
						<p th:text="|${pedido.enderecoEntrega.logradouro}, ${pedido.enderecoEntrega.numero}|">
						<p th:text="${pedido.enderecoEntrega.complemento}"
							th:if="${!#strings.isEmpty(pedido.enderecoEntrega.complemento)}"></p>
						<p th:text="${pedido.enderecoEntrega.bairro}"></p>
						<p
							th:text="|${#strings.substring(pedido.enderecoEntrega.cep,0,5)}-${#strings.substring(pedido.enderecoEntrega.cep,5,8)}|"></p>
						<p th:text="|${pedido.enderecoEntrega.cidade} - ${#strings.toUpperCase(pedido.enderecoEntrega.uf)}|">São Paulo
							- SP</p>
						<p th:text="|Ref.: ${pedido.enderecoEntrega.referencia}|"
							th:if="${!#strings.isEmpty(pedido.enderecoEntrega.referencia)}"></p>
					</div>
				</div>
				<div class="col m6 s12">
					<div class="col s12 black white-text">
						<h6>RESUMO DE VALORES</h6>
					</div>
					<div class="col s12 grey lighten-4">
						<p th:text="|SubTotal: ${#numbers.formatCurrency(pedido.valorSubTotal)}|"></p>
						<p th:text="|Frete: ${#numbers.formatCurrency(pedido.valorFrete)}|"></p>
						<p>
							<strong th:text="|Total: ${#numbers.formatCurrency(pedido.valorTotal)}|"></strong>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
</body>
</html>