/***********************************************************************************************************************/
/* Geral do site */

/* Campos obrigatórios */
.tc-required label:first-of-type:before {
	content: "*";
}

/* Altura mínima para o header */
header {
	min-height: 112px;
}

/* Margem no topo dos containers */
main[class="container"] {
	margin-top: 1%;
}

/* Posiciona o botão voltar ao topo */
.btn-voltar-topo {
	position: fixed;
	top: 80%;
	left: 90%;
}

/* Borda da div que contém o form do search para dar mais destaque */
.div-search {
	border: 2px solid transparent;
	-moz-border-image: -moz-linear-gradient(top right, black 60%, #e65100 100%);
	-webkit-border-image: -webkit-linear-gradient(top right, black 60%, #e65100 100%);
	border-image: linear-gradient(to bottom left, black 60%, #e65100 100%);
	border-image-slice: 1;
}

/* Mostra a quantidade de itens no carrinho */
.contar-produtos-carrinho {
	position: absolute;
	top: 8px;
	right: 55px;
	background: #ff9800;
	border-radius: 100%;
	line-height: 20px;
	padding: 0 6px;
}

@media ( max-width : 768px) {
	/* Altura mínima para o header */
	header {
		min-height: 57px;
	}

	/* Posiciona o botão voltar ao topo */
	.btn-voltar-topo {
		top: 85%;
		left: 80%;
	}

	/* Número de itens no carrinho */
	.contar-produtos-carrinho {
		right: 10px;
	}
}

@media ( max-width : 1024px) {
	/* Número de itens no carrinho */
	.contar-produtos-carrinho {
		right: 32px;
	}
}

/***********************************************************************************************************************/
/* Menu e Breadcrumb */

/* Tira a borda de active na página index */
.remove-indicator .indicator {
	background-color: #000 !important;
}

/* Altera a cor da fonte do breadcrumb */
.breadcrumb-site a, .breadcrumb-site a:before {
	color: #000 !important;
}

@media ( max-width : 768px) {
	/* Diminui o tamanho da fonte do breadcrumb */
	.breadcrumb-site a, .breadcrumb-site a:before {
		font-size: 1rem;
	}
}

/***********************************************************************************************************************/
/* Produtos */

/* Margem nas divs de produto */
.produto {
	margin-bottom: 2%;
}

/* Espaçamento dos article que contém os produtos */
.produto article {
	padding-bottom: 20px !important;
}

/* Da um espaço em baixo no título do jogo */
.produto h6 {
	padding-bottom: 5%;
	min-height: 41px;
}

/* Tira o padding da div que recebe os preços, os dizeres á vista e o carrinho */
.col-content>.col:nth-child(3) {
	padding: 0;
}

/* Tira a margem, deixa em negrito o preço e altera a font */
.preco {
	margin: 0;
	font-size: 0.7rem;
	font-weight: bold;
}

/* Colocar a linha no meio do preço antigo e deixa ele um rem menor */
.preco span:first-child {
	text-decoration: line-through;
	font-size: 0.8rem;
}

/* Formatação para os dizeres à vista */
.a-vista:after {
	content: " à vista ";
	color: #fb8c00;
}

.tc-container-form-add-carrinho {
	position: relative;
}

.tc-container-form-add-carrinho form {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
}

/* botão para comprar sem passar por detalhes do produto */
.tc-btn-index {
	background: transparent;
	border: 0;
	padding: 1px 0;
	height: auto;
	width: 100%;
}

/* botão para comprar sem passar por detalhes do produto */
.tc-btn-index i {
	font-size: 2em !important;
	margin-top: 5px;
}

/* botão para comprar sem passar por detalhes do produto */
.tc-btn-index:active, .tc-btn-index:focus {
	background: transparent;
}

/* Parte que aparece quando o mouse passar por cima */
.tc-texto-add-carrinho {
	margin-top: 3px;
	margin-bottom: -6px; text-align : center;
	font-size: 0.8em;
	text-align: center;
}

@media ( max-width : 768px) {
	/* Tira o padding da div que recebe o preço */
	.produto article div:nth-child(3) div:first-child {
		padding: 0;
	}

	/* Tamanho do título do produto */
	.produto h6 {
		height: 35px;
	}

	/* Muda o tamanho do preço atual */
	.preco {
		font-size: 0.9rem;
	}

	/* Muda o tamanho do preço antigo */
	.preco span {
		font-size: 0.8rem;
	}

	/* Quebra de linha */
	.a-vista:after {
		display: block;
	}
}

/***********************************************************************************************************************/
/* Footer */
.footer-copyright p {
	width: 100%;
	text-align: center;
}

/***********************************************************************************************************************/
/* Alertas */

/* Posição do botão para fechar os alertas do materialize */
.tc-close {
	margin-top: -15px;
}

/***********************************************************************************************************************/
/* Campos de formulário no site */

/* label focus color */
.input-field input[type=text]:focus+label {
	color: #ffa000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #ff9800 !important;
	box-shadow: 0 1px 0 0 #ff9800 !important;
}

.tc-radio-site:checked+label:after, .tc-radio-site.with-gap:checked+label:before,
	.tc-radio-site.with-gap:checked+label:after {
	border: 2px solid #ff9800 !important;
}

.tc-radio-site:checked+label:after, .tc-radio-site.with-gap:checked+label:after
	{
	background-color: #ff9800 !important;
}