<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/site/LayoutDetalhesProduto" xlmns:thecode="http://thecode.com.br">
<head>
<title>Detalhes do produto</title>
</head>
<body>
	<div class="parallax-container" layout:fragment="paralax-detalhes-produto">
		<div class="parallax black">
			<img
				th:src="(${#lists.size(produto.imagens) == 1} ? (@{/images/site/paralax/paralax-mock.jpg}) : (@{/images/site/paralax/{nome}.jpg(nome=${produto.idProduto})}))"
				th:alt="(${#lists.size(produto.imagens) == 1} ? 'Imagem de personagens de video game' : (${produto.nome}))">
		</div>
	</div>
	<main class="container" layout:fragment="conteudo">
	<div class="row">
		<nav class="z-depth-0 white breadcrumb-site">
			<div class="nav-wrapper">
				<div class="col s12">
					<a th:href="@{/}" class="breadcrumb">Início</a>
					<a th:href="@{/categoria}" class="breadcrumb"
						th:text="|${produto.tipoProduto.descricao} - ${produto.tipoConsole.nome}|"></a>
					<a href="#" class="breadcrumb" th:text="${produto.nome}"></a>
				</div>
			</div>
		</nav>
	</div>
	<div class="row">
		<form th:action="@{/carrinho-compra/adicionar-item-carrinho}" method="post">
			<input type="hidden" name="id" th:value="${produto.idProduto}">
			<div class="col s12 offset-m6 m6">
				<h4 class="center-align" th:text="${produto.nome}"></h4>
			</div>
			<div class="col s12 m5">
				<img class="responsive-img"
					th:src="(${#lists.isEmpty(produto.imagens)} ? (@{/imagens/produto-mock.png}) : (@{/imagens/{nome}(nome=${produto.imagens[0].nome})}))"
					th:alt="(${#lists.isEmpty(produto.imagens)} ? 'Imagem padrão do produto' : (${produto.imagens[0].descricao}))">
			</div>
			<div class="col s12 m7">
				<div class="col s12 m12">
					<p class="preco detalhes-produto">
						<span th:text="${#numbers.formatCurrency(produto.precoVenda)}"></span>
						<br>
						<n th:text="${#numbers.formatCurrency(produto.precoVenda * percentualDesconto)}"> </n>
						<span class="a-vista"></span>
						<strong class="boleto-bancario">via Boleto Bancário</strong>
					</p>
					<p class="pagamento-parcelado">
						ou
						<br>
						<span th:text="|${maximoParcelas}x de ${#numbers.formatCurrency(produto.precoVenda / maximoParcelas)} sem juros|">10x
							de R$ 19,99 sem juros</span>
					</p>
					<button type="submit" class="waves-effect waves-light btn-large orange darken-1 btn-comprar">
						<i class="material-icons left">add_shopping_cart</i>
						Comprar
					</button>
				</div>
				<div class="col s12">
					<div id="form-frete">
						<div class="row">
							<div class="col s12">
								<div class="input-field col s12 m4">
									<input type="text" value="" name="cep" id="cep" class="input-field js-cep">
									<label for="cep">Calcular Frete</label>
								</div>
								<div class="col s2 m2 gif-carregando hide">
									<br>
									<img class="responsive-img" alt="Carregando" th:src="@{/images/carregando.gif}">
								</div>
								<div class="input-field col s12 m8 texto-frete"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col s12 m12">
					<ul class="collection with-header valores-parcela">
						<li class="collection-header">
							<h6>
								Parcelas
								<i class="small material-icons right">credit_card</i>
							</h6>
						</li>
						<li class="collection-item">
							<div th:each="parcela : ${#numbers.sequence(1, maximoParcelas / 2)}">
								<span th:text="|${parcela}x de ${#numbers.formatCurrency(produto.precoVenda / parcela)} sem juros|"></span>
								<div class="secondary-content"
									th:text="|${parcela + 5}x de ${#numbers.formatCurrency(produto.precoVenda / (parcela + 5))} sem juros|"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</form>
		<div class="col s12 m12">
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header">
						<i class="material-icons">view_headline</i>
						Descrição
					</div>
					<div class="collapsible-body">
						<span th:text="${produto.descricao}"></span>
					</div>
				<li>
					<div class="collapsible-header">
						<i class="material-icons">list</i>
						Especificações
					</div>
					<div class="collapsible-body">
						<div th:switch="${produto.tipoProduto}">
							<p th:case="${tiposProduto[0]}">
								<span>
									<strong>Fabricante: </strong>
									<i th:text="${produto.fabricante}"> </i>
									<br>
									<strong>Modelo: </strong>
									<i th:text="${produto.modelo}"> </i>
									<br>
									<strong>Capacidade: </strong>
									<i th:text="${produto.capacidade}"> </i>
									<strong>Voltagem: </strong>
									<i th:text="${produto.voltagem}"> </i>
									<strong>Cor: </strong>
									<i th:text="${produto.cor}"> </i>
									<strong>Resolução: </strong>
									<i th:text="${produto.resolucao}"> </i>
									<strong>Midia: </strong>
									<i th:text="${produto.midia}"> </i>
								</span>
							</p>
							<p th:case="${tiposProduto[1]}">
								<span>
									<strong>Fabricante: </strong>
									<i th:text="${produto.fabricante}"> </i>
									<br>
									<strong>Conexao: </strong>
									<i th:text="${produto.conexao}"> </i>
									<br>
									<strong>Alimentação: </strong>
									<i th:text="${produto.alimentacao}"> </i>
									<strong>Alcance: </strong>
									<i th:text="${produto.alcance}"> </i>
									<strong>Cor: </strong>
									<i th:text="${produto.cor}"> </i>
								</span>
							</p>
							<p th:case="${tiposProduto[2]}">
								<span>
									<strong>Produtora: </strong>
									<i th:text="${produto.produtora}"> </i>
									<br>
									<strong>Ano de lançamento: </strong>
									<i th:text="${produto.lancamento}"> </i>
									<br>
									<strong>Idiomas: </strong>
									<i th:text="${produto.idioma}"> </i>
									<br>
									<strong>Legendas: </strong>
									<i th:text="${produto.legenda}"> </i>
									<br>
									<strong>Idade Recomendada: </strong>
									<i th:text="${produto.idade}"> </i>
									<br>
									<strong>Número de jogadores offline: </strong>
									<i th:text="${produto.qtdeJogadoresOff}"> </i>
									<br>
									<strong>Número de jogadores online:</strong>
									<i th:text="${produto.qtdeJogadoresOn}"> </i>
									<br>
									<strong>Resolução: </strong>
									<i th:text="${produto.resolucao}"> </i>
								</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="collapsible-header">
						<i class="material-icons">playlist_add_check</i>
						Requisitos
					</div>
					<div class="collapsible-body">
						<span th:text="${produto.tipoConsole.nome}"> </span>
					</div>
				</li>
				<li>
					<div class="collapsible-header">
						<i class="material-icons">done</i>
						Itens Inclusos
					</div>
					<div class="collapsible-body">
						<span th:text="${produto.itensInclusos}"> </span>
					</div>
				</li>
				<li>
					<div class="collapsible-header">
						<i class="material-icons">assignment_turned_in</i>
						Garantia
					</div>
					<div class="collapsible-body">
						<strong>
							<span th:text="${produto.garantia}"> </span>
							Meses
						</strong>
					</div>
				</li>
			</ul>
		</div>
		<div class="col s12 m12">
			<p class="ilustrativa">* Imagens meramente ilustrativas. Selos, ilustrações ou informações que constam na
				embalagem podem ser diferentes do produto disponível em estoque.</p>
		</div>
	</div>
	</main>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
		<script th:src="@{/javascripts/calcular-frete.js}"></script>
	</th:block>
</body>
</html>