body {
	padding-top: 80px;
	padding-bottom: 40px;
	background-color: #eee;
}

form {
	padding: 20px;
	border: 1px solid #616161;
	border-radius: 2%;
	background-color: #fff;
}

.mensagem {
	text-align: center;
}