<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
	<footer class="page-footer black" th:fragment="layout-site-footer">
		<a class="btn-floating btn-large waves-effect waves-light orange btn-voltar-topo">
			<i class="large material-icons">expand_less</i>
		</a>
		<div class="container">
			<div class="row">
				<div class="col 16 s12">
					<p class="white-text">The Code Comércio Virtual LTDA</p>
					<p class="grey-text text-lighten-4">CNPJ: 85.755.470/0001-18 Rua Teste, 123, 10º andar - CEP: 12345-678, Bairro
						Teste São Paulo - SP</p>
				</div>
			</div>
			<div class="footer-copyright">
				<p>© 2017 Copyright Text</p>
			</div>
		</div>
	</footer>
</body>
</html>