<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
	  <footer class="page-footer black" th:fragment="layout-site-footer">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h5 class="white-text">Loja The Code</h5>
                <p class="grey-text text-lighten-4">Informações importantes</p>
              </div>
                <div class="col l4 s12">
                <h5 class="white-text">Metodos de Pagamento</h5>
                <span><img th:src="@{/images/formasPagamento.png}"/></span>
                
              </div>
              <div class="col l4 s12">
                <h5 class="white-text">Acessos Rapidos</h5>
                <ul>
                  <li><a class="white-text text-white" href="#!"><i class="material-icons">home</i>Inicio</a></li>
                  <li><a class="white-text text-white" href="#!"><i class="material-icons">question_answer</i>Duvidas Frequentes</a></li>
                  <li><a class="white-text text-white" href="#!"><i class="material-icons">work</i>Sobre a loja</a></li>
                </ul>
              </div>
              <div class="col l4 s12">
                <h5 class="white-text">Certificados</h5>
				<span><img th:src="@{/images/siteBlindado.png}"></span>
				<span><img th:src="@{/images/ebit.png}"></span>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-3">
            <div class="container">
            © 2017 Copyright - Todos os direitos Reservados
            <a class="grey-text text-lighten-4 right" href="#/">THE CODE</a>
            </div>
          </div>
        </footer>
</body>
</html>