<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/backoffice/LayoutPadrao" xlmns:thecode="http://thecode.com.br">
<head>
<title>Cadastro de controle</title>
<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}" />
</head>
<body>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" layout:fragment="conteudo">
		<h1 class="page-header">Cadastro de controle</h1>
		<div class="row">
			<form method="post" th:object="${controle}">
				<thecode:messagebackoffice />
				<thecode:formproduto />
				<div class="row">
					<div class="col-sm-12 form-group" thecode:classforerror="fabricante">
						<label for="fabricante" class="control-label">Fabricante</label>
						<input id="fabricante" type="text" class="form-control" th:field="*{fabricante}" maxlength="50" required />
					</div>
					<div class="col-sm-3 form-group" thecode:classforerror="conexao">
						<label for="conexao" class="control-label">Conexão</label>
						<select id="conexao" class="form-control" th:field="*{conexao}" required>
							<option value="">Selecione a conexão</option>
							<option th:each="conexao : ${conexoes}" th:value="${conexao}" th:text="${conexao.descricao}"></option>
						</select>
					</div>
					<div class="col-sm-3 form-group" thecode:classforerror="alimentacao">
						<label for="alimentacao" class="control-label">Alimentação</label>
						<select id="alimentacao" class="form-control" th:field="*{alimentacao}" required>
							<option value="">Selecione a alimentação</option>
							<option th:each="alimentacao : ${alimentacoes}" th:value="${alimentacao}" th:text="${alimentacao.descricao}"></option>
						</select>
					</div>
					<div class="col-sm-2 form-group" thecode:classforerror="cor">
						<label for="cor" class="control-label">Cor</label>
						<select id="cor" class="form-control" th:field="*{cor}" required>
							<option value="">Selecione a cor</option>
							<option th:each="cor : ${cores}" th:value="${cor}" th:text="${cor.descricao}"></option>
						</select>
					</div>
					<div class="col-sm-2 form-group" thecode:classforerror="alcance">
						<label for="alcance" class="control-label">Alcance em Metros</label>
						<input id="alcance" type="text" class="form-control js-int" th:field="*{alcance}" maxlength="3" required />
					</div>
				</div>
				<thecode:formimagemproduto />
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
		<th:block th:replace="backoffice/hbs/ImagemProduto"></th:block>
	</div>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/formatar-numeros.js}"></script>
		<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
		<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
		<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
		<script th:src="@{/javascripts/produto-upload-imagem.js}"></script>
	</th:block>
</body>
</html>