<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/backoffice/LayoutPadrao" xlmns:thecode="http://thecode.com.br">
<head>
<title>Pesquisar estoque</title>
<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/sweetalert.css}" />
</head>
<body>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" layout:fragment="conteudo">
		<h1 class="page-header">Pesquisar estoque</h1>
		<div class="row">
			<form method="post" th:object="${produtoFilter}" th:action="@{/admin/produtos/pesquisar}">
				<div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
					</button>
					<span th:text="${mensagem}"></span>
				</div>
				<div class="row">
					<div class="col-sm-3 form-group">
						<label for="tipo-produto" class="control-label">Tipo de Produto</label>
						<select class="col-sm-3 form-control" id="tipo-produto" th:field="*{tipoProduto}">
							<option value="">Todos os tipos de produto</option>
							<option th:each="tipoProduto : ${tiposProduto}" th:value="${tipoProduto}" th:text="${tipoProduto.descricao}"></option>
						</select>
					</div>
					<div class="col-sm-3 form-group">
						<label for="codigo" class="control-label">Código</label>
						<input id="codigo" type="text" class="form-control js-int" th:field="*{id}" />
					</div>
					<div class="col-sm-6 form-group">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control" maxlength="150" th:field="*{nome}" />
					</div>
					<div class="col-sm-5 form-group">
						<label for="precoCompraDe">Preço de Compra</label>
						<div class="form-inline">
							<input type="text" class="form-control  js-decimal" id="precoCompraDe" th:field="*{precoCompraDe}" />
							<label for="precoCompraAte"> até </label>
							<input type="text" class="form-control  js-decimal" id="precoCompraAte" th:field="*{precoCompraAte}" />
						</div>
					</div>
					<div class="col-sm-5 form-group">
						<label for="precoVendaDe">Preço de Venda</label>
						<div class="form-inline">
							<input type="text" class="form-control  js-decimal" id="precoVendaDe" th:field="*{precoVendaDe}" />
							<label for="precoVendaAte"> até </label>
							<input type="text" class="form-control  js-decimal" id="precoVendaAte" th:field="*{precoVendaAte}" />
						</div>
					</div>
					<div class="col-sm-2 form-group">
						<label for="status" class="control-label">Estoque</label>
						<div class="checkbox">
							<label>
								<input type="checkbox" th:field="*{estoque}">
								Ruptura
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6 form-group">
						<button class="btn  btn-primary" type="submit">Pesquisar</button>
					</div>
				</div>
			</form>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>Tipo de Produto</th>
							<th>Console</th>
							<th>Preço de Compra</th>
							<th>Preço de Venda</th>
							<th>Estoque</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto : ${produtos}">
							<td th:text="${produto.idProduto}"></td>
							<td th:text="${produto.nome}"></td>
							<td th:text="${produto.tipoProduto.descricao}"></td>
							<td th:text="${produto.tipoConsole.nome}"></td>
							<td th:text="${#numbers.formatCurrency(produto.precoCompra)}"></td>
							<td th:text="${#numbers.formatCurrency(produto.precoVenda)}"></td>
							<td th:text="${produto.estoque}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" title="Editar" th:href="|@{/admin/produtos/}${#strings.toLowerCase(produto.tipoProduto.descricao)}s/alterar/${produto.idProduto}|">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn btn-link btn-xs js-btn-excluir" title="Excluir" href="#" data:url="|@{/admin/produtos/}${#strings.toLowerCase(produto.tipoProduto.descricao)}s/excluir/${produto.idProduto}|" data:objeto="${produto.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(produtos)}">
							<td colspan="8">Nenhum produto encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/formatar-numeros.js}"></script>
		<script th:src="@{/javascripts/vendors/sweetalert.min.js}"></script>
		<script th:src="@{/javascripts/dialogo-excluir.js}"></script>
	</th:block>
</body>
</html>