<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>The Code</title>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Icon -->
<link rel="shortcut icon" th:href="@{/images/icon.png}" />
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/layout/site/vendors/materialize/css/materialize.min.css}" />
<!-- Style da parte do site -->
<link rel="stylesheet" type="text/css" th:href="@{/layout/site/stylesheets/thecode-site.css}" />
</head>
<body>
	<div th:replace="layout/site/fragments/BarraSuperiorCarrinho :: layout-site-barra-superior-carrinho"></div>
	<main layout:fragment="conteudo"></main>
	<div th:replace="layout/site/fragments/Footer :: layout-site-footer"></div>
	<script th:src="@{/layout/site/vendors/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/layout/site/vendors/materialize/js/materialize.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
	<script th:src="@{/javascripts/site-carrinho-compra.js}"></script>
	<script th:src="@{/javascripts/site-calcular-frete.js}"></script>

	<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>