<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/site/LayoutCarrinhoCompra" xlmns:thecode="http://thecode.com.br">
<head>
<title>Carrinho de compra</title>
<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/site-carrinho-compra.css}" />
</head>
<body>
	<main class="container" layout:fragment="conteudo">
	<div class="row">
		<form method="post" class="col s12 js-arrumar-valor-frete" id="carrinho-compra" th:action=@{/carrinho-compra/finalizar-compra} th:if="${!#lists.isEmpty(@carrinhoCompraController.carrinho)}">
			<div class="row">
				<div class="col s12 m6 btn-escolher-mais-produtos">
					<br> <a class="waves-effect waves-light grey-text text-darken-4" th:href="@{/}"><i
						class="material-icons left">arrow_back</i>Escolher mais produtos</a>
				</div>
				<div class="col s12 m6 titulo-carrinho-compras">
					<div>
						<h4 class="center-align">Carrinho de Compras</h4>
					</div>
				</div>
			</div>
			<div th:each="item : ${@carrinhoCompraController.carrinho}" th:class="|produto-id-${item.id} row z-depth-2 js-container-item-carrinho|">
				<div class="input-field col offset-s4 s4 m2">
					<img class="responsive-img"
						th:src="(${#strings.isEmpty(item.img)} ? (@{/imagens/thumbnail.produto-mock.png}) : (@{/imagens/thumbnail.{nome}(nome=${item.img})}))"
						th:alt="(${#strings.isEmpty(item.descricao)} ? 'Imagem padrão do produto' : (${item.descricao}))">
				</div>
				<br>
				<div class="input-field col offset-s4 s6 m4">
					<input th:id="|nome-produto-${item.id}|" th:value="${item.nome}" type="text" value="" readonly> <label
						th:for="|nome-produto-${item.id}|">Item</label>
				</div>
				<div class="input-field col offset-s4 s4 m2">
					<input th:id="|preco-produto-${item.id}|" th:value="${#numbers.formatCurrency(item.preco)}" type="text" readonly> <label
						th:for="|preco-produto-${item.id}|">Preço</label>
				</div>
				<div class="input-field col offset-s4 s4 m1">
					<input th:id="|qtde-produto-${item.id}|" th:value="${item.qtde}" type="number" class="input-field js-quantidade" th:attr="data-alterar-quantidade=@{/carrinho-compra/alterar-quantidade}" min="1"> <label
						th:for="|qtde-produto-${item.id}|">Qtde</label>
				</div>
				<div class="input-field col offset-s4 s4 m2">
					<input th:id="|subtotal-produto-${item.id}|" th:value="${#numbers.formatCurrency(item.qtde * item.preco)}" type="text" class="input-field js-subtotal-produto" readonly> <label
						th:for="|subtotal-produto-${item.id}|">SubTotal</label>
				</div>
				<div th:class="|produto-id-${item.id} col offset-s5 s4 m1 btn-excluir-produto js-btn-excluir-produto|">
					<a class="btn-floating btn waves-effect waves-light red" th:href="@{/carrinho-compra/remover-item-carrinho/{id}(id=${item.id})}"><i class="material-icons">remove_shopping_cart</i></a>
				</div>
			</div>
			<div class="row">
				<div class="col s12 z-depth-1 grey lighten-2">
					<div class="col s4 m2">
						<div class="valign-wrapper">
							<p>Subtotal</p>
						</div>
					</div>
					<div class="input-field col offset-s4 s4 offset-m8 m2">
						<input type="text" th:value="${#numbers.formatCurrency(@carrinhoCompraController.subTotalCarrinho)}" id="subtotal" readonly>
					</div>
				</div>
				<div class="col s12 z-depth-1 grey lighten-1">
					<input type="hidden" class="js-dias-entrega" name="dias-entrega" value="">
					<div class="input-field col s12 m2 tc-cep-carrinho js-opcao-frete">
						<input type="text" th:value="${@carrinhoCompraController.cep}" name="cep" id="cep" class="input-field js-cep" required>
						<label for="cep">Calcular Frete</label>
					</div>
					<div class="col s1 m1 gif-carregando hide">
						<br>
						<img class="responsive-img" alt="Carregando" th:src="@{/images/carregando.gif}">
					</div>
					<div class="col s12 m8 texto-frete"></div>
					<div class="input-field col s12 m2">
						<input type="text" value="" name="valor-frete" id="valor-frete" readonly>
					</div>
				</div>
				<div class="col s12 z-depth-1 grey darken-4 white-text">
					<div class="col s4 m2">
						<div class="valign-wrapper">
							<p>Total</p>
						</div>
					</div>
					<div class="input-field col offset-s4 s4 offset-m8 m2">
						<input type="text" th:value="${#numbers.formatCurrency(@carrinhoCompraController.subTotalCarrinho)}" id="total" readonly>
					</div>
				</div>
				<div class="col s12 finalizar-compra">
					<button class="btn-large waves-effect waves-light orange right js-finalizar-compra" type="submit">
						Finalizar Compra<i class="material-icons left">done</i>
					</button>
				</div>
			</div>
		</form>
		<div class="hide mensagem-produto-carrinho" th:if="${not #strings.isEmpty(mensagem)}" th:text="${mensagem}"></div>
		<div th:if="${#lists.isEmpty(@carrinhoCompraController.carrinho)}" id="carrinho-vazio" class="valign-wrapper">
			<h5><strong>Ops!</strong><br>Ainda não há itens em seu carrinho. Para comprar <a th:href="@{/}">clique aqui</a>.</h5>
		</div>
	</div>
	</main>
</body>
</html>