<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Finalizar compra</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" th:href="@{/images/icon.png}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/layout/site/vendors/materialize/css/materialize.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/layout/site/stylesheets/thecode-site.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/site-carrinho-compra.css}" />
</head>
<body>
	<header class="black"></header>
	<main class="container">
	<div class="row">
		<div class="row tc-alert" th:if=${!#strings.isEmpty(msgErroRealizarPedido)}>
			<div class="col s12">
				<div class="card-panel red lighten-4">
					<button class="btn-flat btn-floating red lighten-4 right tc-close" type="button">
						<i class="material-icons red-text text-darken-4">close</i>
					</button>
					<span class="red-text text-darken-4" th:text=${msgErroRealizarPedido}></span>
				</div>
			</div>
		</div>
		<form method="post" class="col s12 js-arrumar-valor-frete" th:action=@{/carrinho-compra/realizar-pedido}
			th:object="${pedido}">
			<div class="col m4 s12">
				<div class="col s12 black lighten-2 white-text">
					<h6>ENDEREÇOS</h6>
				</div>
				<div class="col s12 grey lighten-2">
					<h6>Endereço Principal</h6>
				</div>
				<br>
				<br>
				<br>
				<div class="input-field tc-form-endereco-compra">
					<input type="text" id="nome" maxlength="150" th:field=*{cliente.nome} readonly>
					<label for="nome">Nome</label>
				</div>
				<div class="input-field tc-form-endereco-compra">
					<input type="text" id="endereco" maxlength="150" th:field=*{cliente.enderecos[0].logradouro} readonly>
					<label for="endereco">Endereço</label>
				</div>
				<div class="input-field tc-form-endereco-compra">
					<input type="text" id="numero-endereco" maxlength="10" th:field=*{cliente.enderecos[0].numero} readonly>
					<label for="numero-endereco">Número</label>
				</div>
				<div class="input-field tc-form-endereco-compra" th:if="*{!#strings.isEmpty(cliente.enderecos[0].complemento)}">
					<input type="text" id="complemento" maxlength="100" th:field=*{cliente.enderecos[0].complemento} readonly>
					<label for="complemento">Complemento</label>
				</div>
				<div class="input-field tc-form-endereco-compra">
					<input type="text" id="bairro" maxlength="100" th:field=*{cliente.enderecos[0].bairro} readonly>
					<label for="bairro">Bairro</label>
				</div>
				<div class="input-field tc-cep-carrinho tc-form-endereco-compra">
					<input type="text" id="cep" class="js-cep" th:field=*{cliente.enderecos[0].cep} readonly>
					<label for="cep">CEP</label>
				</div>
				<div class="input-field tc-form-endereco-compra">
					<input type="text" id="cidade" maxlength="100" th:field=*{cliente.enderecos[0].cidade} readonly>
					<label for="cidade">Cidade</label>
				</div>
				<div class="input-field tc-form-endereco-compra">
					<input type="text" id="uf" maxlength="2" th:field=*{cliente.enderecos[0].uf} readonly>
					<label for="uf">Estado</label>
				</div>
				<div class="input-field tc-form-endereco-compra">
					<textarea id="referencia" class="materialize-textarea" rows="1" readonly
						th:field=*{cliente.enderecos[0].referencia}></textarea>
					<label for="referencia">Referência</label>
				</div>
				<br>
				<br>
				<br>
				<div class="col s6">
					<a href="#" class="left">Editar</a>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-light orange col s12" type="button">Inserir novo endereço</button>
					</div>
				</div>
			</div>
			<div class="col m4 s12">
				<div class="col s12 black white-text js-opcao-entrega">
					<h6>OPÇÕES DE ENTREGA</h6>
				</div>
				<div class="col s12 gif-carregando hide">
					<img class="responsive-img" alt="Carregando" th:src="@{/images/carregando.gif}">
				</div>
				<input type="hidden" class="js-dias-entrega" th:field=*{diasEntrega}>
				<div class="col s12 texto-frete"></div>
				<div class="col s12 black white-text tc-forma-pagamento">
					<h6>FORMA DE PAGAMENTO</h6>
				</div>
				<p>
					<input class="with-gap tc-radio-site" type="radio" id="cartao" th:value="${tiposPagamento[0]}"
						th:field="*{tipoPagamento}" />
					<label for="cartao" th:text="${tiposPagamento[0].descricao}"></label>
				</p>
				<div class="tc-pagamento-cartao js-pagamento-cartao hide">
					<div class="input-field tc-form-opcao-pagamento">
						<select th:field="*{parcelas}" class="js-pagto-cartao-credito js-parcelas"
							th:attr="data-maximo-parcelas=${maximoParcelas}">
						</select>
						<label>Nº de parcelas</label>
					</div>
					<div class="input-field tc-form-opcao-pagamento">
						<input placeholder="Digite como no cartão" id="nome" type="text" maxlength="150"
							th:field="*{dadosPagamento.nomeTitular}" class="js-pagto-cartao-credito">
						<label for="nome">Nome</label>
					</div>
					<div class="input-field tc-form-opcao-pagamento">
						<input placeholder="0000 0000 0000 0000" id="numero-cartao" type="text" maxlength="20"
							class="js-pagto-cartao-credito" th:field="*{dadosPagamento.cartao}">
						<label for="numero-cartao">Nº do Cartão</label>
					</div>
					<div class="input-field tc-form-opcao-pagamento">
						<select id="mes" th:field="*{dadosPagamento.mesVencimento}" class="js-pagto-cartao-credito">
							<option value="" disabled selected>Mês</option>
							<option th:each="mes : ${meses}" th:value="${mes}" th:text="${mes.descricao}"></option>
						</select>
						<label>Mês de vencimento</label>
					</div>
					<div class="input-field tc-form-opcao-pagamento">
						<select id="ano" th:field="*{dadosPagamento.anoVencimento}" class="js-pagto-cartao-credito">
							<option value="" disabled selected>Ano</option>
							<option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${ano + i}" th:text="${ano + i}"></option>
						</select>
						<label>Ano de vencimento</label>
					</div>
					<div class="input-field tc-form-opcao-pagamento">
						<input placeholder="000" id="codigo-seguranca" class="js-int js-pagto-cartao-credito" type="text" maxlength="3"
							th:field="*{dadosPagamento.codigoSeguranca}">
						<label for="codigo-seguranca">Código de segurança</label>
					</div>
				</div>
				<p>
					<input class="with-gap tc-radio-site" type="radio" id="boleto" th:value="${tiposPagamento[1]}"
						th:field="*{tipoPagamento}" />
					<label for="boleto" th:text="${tiposPagamento[1].descricao}"></label>
				</p>
			</div>
			<div class="col m4 s12">
				<div class="col s12 black white-text">
					<h6>REVISÃO DO PEDIDO</h6>
				</div>
				<div class="col s12" th:each="item : ${@carrinhoCompraController.carrinho}">
					<div class="col s4">
						<img class="responsive-img"
							th:src="(${#strings.isEmpty(item.img)} ? (@{/imagens/thumbnail.produto-mock.png}) : (@{/imagens/thumbnail.{nome}(nome=${item.img})}))"
							th:alt="(${#strings.isEmpty(item.descricao)} ? 'Imagem padrão do produto' : (${item.descricao}))">
					</div>
					<div class="col s8">
						<p th:text="${item.nome}"></p>
						<p th:text="|Qtde: ${item.qtde} • ${#numbers.formatCurrency(item.qtde * item.preco)}|"></p>
					</div>
				</div>
				<div class="col s12">
					<div class="input-field">
						<input type="text" th:value="${#numbers.formatCurrency(pedido.valorSubTotal)}" name="valorSubTotal" id="subtotal"
							readonly>
						<label for="subtotal">Subtotal</label>
					</div>
					<div class="input-field">
						<input type="text" name="valorFrete" th:value="${#numbers.formatCurrency(pedido.valorFrete)}" id="valor-frete"
							placeholder="R$ 0,00" readonly>
						<label for="valor-frete">Frete</label>
					</div>
					<div class="input-field">
						<input type="text" th:value="${#numbers.formatCurrency(pedido.valorTotal)}" name="valorTotal" id="total" readonly>
						<label for="total">Total</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-light orange col s12" type="submit">Finalizar Compra</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	</main>
	<footer class="black">&nbsp;</footer>
	<script th:src="@{/layout/site/vendors/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/layout/site/vendors/materialize/js/materialize.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
	<script th:src="@{/javascripts/formatar-numeros.js}"></script>
	<script th:src="@{/javascripts/site-carrinho-compra.js}"></script>
	<script th:src="@{/javascripts/site-calcular-frete.js}"></script>
	<script th:src="@{/javascripts/site-finalizar-compra.js}"></script>
</body>
</html>