<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/site/LayoutPadrao" xlmns:thecode="http://thecode.com.br">
<head>
<title>The Code - Loja de Games</title>
</head>
<body>
	<main class="container" layout:fragment="conteudo">
	<h1 class="page-header">Contato</h1>
	<div class="row">
		<form class="col s12">
			<div class="input-field col s12">
				<select>
					<option value="" disabled selected required>Selecione o tipo</option>
					<option value="duvidas">Dúvidas</option>
					<option value="reclamacoes">Reclamações</option>
					<option value="sugestoes">Sugestões</option>
				</select> <label>Tipo</label>
			</div>
			<div class="input-field col s6">
				<input id="first_name" type="text" class="validate" required> <label for="first_name" required>Nome</label>
			</div>
			<div class="input-field col s6">
				<input id="last_name" type="text" class="validate" required> <label for="last_name">Sobrenome</label>
			</div>
			<div class="input-field col s12">
				<input id="email" type="email" class="validate" required> <label for="email">Email</label>
			</div>
			<div class="input-field col s12">
				<textarea id="textarea1" class="materialize-textarea" required></textarea>
				<label for="textarea1">Textarea</label>
			</div>
			<div class="col s12 finalizar-compra">
				<button class="btn-large waves-effect waves-light orange right js-finalizar-compra" type="submit">
					Enviar<i class="material-icons left">done</i>
				</button>
			</div>
		</form>
	</div>
	</main>
</body>
</html>