/* Campos do tipo radio */
.tc-radio {
	margin-top: 5px !important;
	margin-right: 25px;
}

.tc-menu-lateral li {
	cursor: pointer;
}

/* Campos obrigatórios */
.tc-required>.control-label:after {
	content: "*";
}

/* Uploads */
.tc-upload {
	padding: 15px;
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	text-align: center;
}

.tc-upload-form-file {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin-bottom: 1px;
}

.tc-upload-form-file>input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	font-size: 50px;
}