<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="col-sm-3 col-md-2 sidebar" th:fragment="layout-backoffice-menu-lateral">
		<ul class="nav nav-sidebar">
			<li class="active">
				<a href="#">
					Cadastrar Cliente
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li>
				<a th:href="@{/admin/CadastroUsuario}">Cadastrar Usuário</a>
			</li>
			<li>
				<a href="#">Cadastrar Controle</a>
			</li>
			<li>
				<a href="#">Cadastrar Console</a>
			</li>
			<li>
				<a href="#">Cadastrar Jogo</a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
			<li>
				<a href="">Consultar Cliente</a>
			</li>
			<li>
				<a href="">Consultar Produto</a>
			</li>
			<li>
				<a href="">Consultar Venda</a>
			</li>
			<li>
				<a href="">Consultar Estoque</a>
			</li>
			<ul class="nav nav-sidebar">
				<li>
					<a href="">Nav item again</a>
				</li>
				<li>
					<a href="">One more nav</a>
				</li>
				<li>
					<a href="">Another nav item</a>
				</li>
			</ul>
			<ul class="nav nav-sidebar">
				<li>
					<a href="">Relatorio de </a>
				</li>
				<li>
					<a href="">One more nav</a>
				</li>
				<li>
					<a href="">Another nav item</a>
				</li>
			</ul>
	</div>
</body>
</html>