<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="col-sm-3 col-md-2 sidebar" th:fragment="layout-backoffice-menu-lateral">
		<ul class="nav nav-sidebar tc-menu-lateral">
			<li><a class="dropdown-toggle" type="button" data-toggle="dropdown"> Cadastrar Produto <span class="caret"></span>
			</a>
				<ul class="dropdown-menu nav">
					<li><a th:href="@{/admin/produtos/jogos/novo}">Cadastrar Jogo</a></li>
					<li><a th:href="@{/admin/produtos/controles/novo}">Cadastrar Controle</a></li>
					<li><a th:href="@{/admin/produtos/consoles/novo}">Cadastrar Console</a></li>
				</ul></li>
			<li><a class="dropdown-toggle" type="button" data-toggle="dropdown"> Consultas de Produto <span class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/admin/produtos/historico}">Consultar Historico de Produto</a></li>
					<li><a th:href="@{/admin/produtos/pesquisar}">Consultar Produto</a></li>
				</ul></li>
			<li><a class="dropdown-toggle" type="button" data-toggle="dropdown"> Movimentar Produto <span class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/admin/produtos/movimentar}">Movimentar</a></li>
				</ul></li>
			<li>
			<li><a class="dropdown-toggle" type="button" data-toggle="dropdown"> Descontos <span class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/admin/descontos/pesquisar}">Pesquisar Descontos</a></li>
				</ul></li>
			<li><a class="dropdown-toggle" type="button" data-toggle="dropdown"> Chamados <span class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/admin/contatos/pesquisar}">Pesquisar Chamado</a></li>
				</ul></li>
			<li><a class="dropdown-toggle" type="button" data-toggle="dropdown"> Pedidos <span class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/admin/pedidos/pesquisar}">Liberar pedido</a></li>
				</ul></li>
			<li><a class="dropdown-toggle" type="button" data-toggle="dropdown"> Relatório <span class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/admin/relatorio/vendas}">Vendas</a></li>
				</ul></li>
			<li><a class="dropdown-toggle" type="button" data-toggle="dropdown"> Usuários <span class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/admin/usuarios/novo}">Cadastrar Usuario</a></li>
					<li><a th:href="@{/admin/usuarios/pesquisar}">Consultar Usuario</a></li>
				</ul></li>
		</ul>
	</div>
</body>
</html>